hejhej admin

<ul>
<% @users.each do |user| %>
	<% if !user.is_user_admin %>

	<li><%= user.email %>
	Auth Key: <%= user.authkey %>
	<%= link_to " Ta bort nyckel", admin_revoke_key_path(:user => user) %>
	</li>

	<% end %>
<% end %>
</ul>

<%= link_to "Logga ut!", logout_path %>