
<%= link_to "Logga ut!", logout_path %>

<div class='center jumbotron'>
	<h3>Hejhej admin. Banna fett mycket användare!</h3>
</div>

<div class='row'>
	<div class='col-md-6 col-md-offset-3'>
		<ul>
			<% @users.each do |user| %>
				<% if !user.is_user_admin %>

				<li><%= user.email %>
				Key: <%= user.authkey %>
				<% if user.authkey %>
					<%= link_to " Ta bort nyckel", admin_revoke_key_path(:user => user) %>
				<% else %>
					Borttagen
				<% end %>
				</li>

				<% end %>
			<% end %>
		</ul>
	</div>
</div>