<h1>Users#index</h1>

<h3>Användaruppgifter</h3>
<ul>
	<li><%= @user.email %> </li>
	<li><%= @user.authkey %> </li>
	<li><a href='#'>Ta bort nyckel</a>
	<li><%= @user.website_name %> </li>
	<li><%= @user.webbsite_url %> </li>
</ul>